* {
    font-family: Gotham Rounded;
    color: #402c66;
    text-align: center;}
     #feature, .article, #footer {
    background-color: #f1f1f1;
    margin-top: 20px;
    padding: 10px 0px 5px 0px;}
    #feature, .article {
    height: 100px;}
    li {
    display: inline;
    padding: 5px;} 
    body {
        background-image: url('backphoto.svg');
        background-repeat: no-repeat;
        background-position: 99%;
        width: 99%;
        background-size: cover;
        height: 100%;
        padding: 0; /* reset */
        padding-bottom: calc(100% * 3 / 4);
        --hue: var(--hue-neutral);
        justify-content: center;
        align-items: center;
        background-color: hsl(var(--hue), 100%, 20%); }
        ul.topnav {
            list-style-type: none;
            margin: 0px;
            padding-top: 300px;
            padding: 0px;
            overflow: hidden;
            background-color: #4285f4;
            border-radius: 10px;
          }
          
          ul.topnav li {float: left;}
          
          ul.topnav li a {
            display: block;
            color: white;
            text-align: center;
            padding: 14px 20px;
            width: max-content;
            text-decoration: none;
          }
          
          ul.topnav li a:hover:not(.active) {background-color: #2965f1;
            border-radius: 10px}
          
          ul.topnav li a.active {background-color:#2965f1;
            border-radius: 10px;
           }
          
          ul.topnav li.right {float: right;}
          
          @media screen and (max-width: 600px) {
            ul.topnav li.right, 
            ul.topnav li {float: none;}
          }
          :root {
            --hue-neutral: 200;
            --hue-wrong: 0;
            --hue-correct: 145;
          }
          *, *::before, *::after {
            box-sizing: border-box;
            font-family: Gotham Rounded;
          }
          
         /* body {
            --hue: var(--hue-neutral); 
            margin: 0;
            display: flex;
            width: 100vw;
            height: 100vh;
            justify-content: center;
            align-items: center;
            background-color: hsl(var(--hue), 100%, 20%);
          }*/
          
          body.correct {
            --hue: var(--hue-correct);
          }
          
          body.wrong {
            --hue: var(--hue-wrong);
          }
          
          .container {
            width: 800px;
            max-width: 80%;
            background-color: white;
            border-radius: 5px;
            padding: 10px;
            box-shadow: 0 0 10px 2px;
          }
          
          .btn-grid {
            display: grid;
            grid-template-columns: repeat(2, auto);
            gap: 10px;
            margin: 20px 0;
          }
          
          .btn {
            --hue: var(--hue-neutral);
            border: 1px solid hsl(var(--hue), 100%, 30%);
            background-color: hsl(var(--hue), 100%, 50%);
            border-radius: 5px;
            padding: 5px 10px;
            color: white;
            outline: none;
          }
          
          .btn:hover {
            border-color: black;
          }
          
          .btn.correct {
            --hue: var(--hue-correct);
            color: black;
          }
          
          .btn.wrong {
            --hue: var(--hue-wrong);
          }
          
          .start-btn, .next-btn {
            font-size: 1.5rem;
            font-weight: bold;
            padding: 10px 20px;
          }
          
          .controls {
            display: flex;
            justify-content: center;
            align-items: center;
          }
          
          .hide {
            display: none;
          }
          /* Make sure that padding behaves as expected */
* {box-sizing:border-box}

/* Container for skill bars */
.container1 {
  width: 50%; /* Full width */
  padding-left: 0px;
  background-color: #ddd; /* Grey background */
}

.skills {
  text-align: right; /* Right-align text */
  padding-top: 10px; /* Add top padding */
  padding-bottom: 10px; /* Add bottom padding */
  color: white; /* White text color */
}

.html {width: 90%; background-color: #4CAF50;} /* Green */
.css {width: 80%; background-color: #2196F3;} /* Blue */
.js {width: 65%; background-color: #f44336;} /* Red */
.php {width: 60%; background-color: #808080;} /* Dark Grey */

  
div.status {
  position: absolute;
  top: 200px;
  right: 300px;
  width: 200px;
  height: 100px;
  transform: skewY(10deg);
  transform: rotateX(10deg);
  transform: rotate(-60deg);
}