@charset "utf-8";
.html{
	font-size: 24px;
}
.body{
	font-size: 14px;
}
.table{
	border: medium;
	border-style: double;
}
.right{
	margin-left: 810px;
}
.navbar{
	font-family: "Arial Black";
	border: thick;
	background-color: yellow;
	border-spacing: 25px;	
}
