@charset "utf-8";
html{
	font-size: 24px;
}
body{
	background-color: blueviolet;	
	background-size: cover;
}
.table{
	border: medium;
	border-style: double;
}
.right{
	margin-left: 1250px;
	margin-bottom: 27px;
}
.rightl{
	border-style: solid;
	border-color: red;
	background-color: orange;
	border-radius: 5px;
}
.rights{
	border-style: solid;
	border-color: red;
	background-color: orange;
	border-radius: 5px;
}
.navbar{
	font-family: "Arial Black";
	border: thick;
	background-color: yellow;
	border-spacing: 25px;	
	display: flex;
	font-size: 22px;
	padding-top: 19px;
	height: 60px;
	margin-top: -7px;
	margin-left: -10px;
	padding-left: 10px;
	margin-right: -10px;
}
.home{
	border-style: solid;
	border-color: red;
	background-color: orange;
	border-radius: 5px;
	margin-bottom: 25px;
}
.header{
	font-size: 28px;
	text-align: center;
	text-shadow: gray 5px 5px 10px;
}
.contain{
	font-size: 22px;
	border-width: 2px;
	flex-direction: column;
}
.question{
	margin-left: 550px;
	margin-right: 550px;
	background-color: antiquewhite;
}
.answer{
	border: 2px;
}
.ansitem{
	height: 50px;
	text-align: center;
	padding-top: 20px;
	font-weight: bolder;
	margin-left: 520px;	
}
.ansitem1{
	background-color: chartreuse;
	border-style: solid;
	height: 50px;
	padding-top: 20px;
	width: 48%;
}
.ansitem1:hover{
	background-color: yellow;
	box-shadow: 4px 4px 8px;
}
.ansitem2{
	background-color: chartreuse;
	border-style: solid;
	height: 50px;
	width: 48%;
	padding-top: 20px;
	margin-top: 20px;
}
.ansitem2:hover{
	background-color: yellow;
	box-shadow: 4px 4px 8px;
}
.ansitem3{
	background-color: chartreuse;
	border-style: solid;
	height: 50px;
	width: 48%;
	padding-top: 20px;
	margin-top: 20px;
}
.ansitem3:hover{
	background-color: yellow;
	box-shadow: 4px 4px 8px;
}
.ansitem4{
	background-color: chartreuse;
	border-style: solid;
	height: 50px;
	width: 48%;
	padding-top: 20px;
	margin-top: 20px;
}
.ansitem4:hover{
	background-color: yellow;
	box-shadow: 4px 4px 8px;
}
.contact{
	width: 450px;
	height: 360px;
	margin-left: 1050px;
	margin-top: -50px;
	border-style: solid;
	background-color: orange;
}
.about{
	width: 450px;
	height: 360px;
	margin-top: -365px;
	border-style: solid;
	background-color: orange;
}
.form{
	border: 3px;
	background-color: orange;
	margin-right: 1225px;
}